.carousel-content {
	display: none;
}

.carousel-content.active {
	display: block;
}
*{
	margin: 0;
	padding:0;

}
body{


	background: #242c38;
}

.control{

background: #415066;
border-radius: 50%;
display: inline-block;
height: 17px;
width: 17px;
margin: 0;
cursor: pointer;
}

.controls{
	margin-top: 150px;
	margin-left: 700px;
}
.carousel{
	margin:0 auto;
	width: 1000px;

}
.carousel-content{
	position: relative;
	height: 360px;
	width: 100%;


}

.previous, .next{
	width: 40px;
	height: 40px;
	background: rgba(255, 255, 255, 0.7);
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	line-height: 40px;
	font-size: 22px;
	font-weight: bold;
	text-align: center;
	border-radius: 50%;
	font-family: monospace;
	cursor: pointer;

}
.next{
	margin-left: 344px;
}
.previous{
	margin-left: -508px;
}
.previous:hover, .next:hover{
	background: rgba(255, 255, 255, 1);

}
